In [5]:
import pandas as pd

In [7]:
df_employee = pd.read_csv("2_training_data_employee.csv")
df_employee

,Age,DailyRate,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,MonthlyRate,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,OverTime_No,OverTime_Yes,Attrition
0,42.000000,1368.000000,28.000000,4.000000,88.000000,2.000000,2.000000,4.000000,4523.000000,4386.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0
1,25.000000,309.000000,2.000000,3.000000,82.000000,3.000000,1.000000,2.000000,2187.000000,19655.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0
2,29.000000,1396.000000,10.000000,3.000000,99.000000,3.000000,1.000000,3.000000,2642.000000,2755.000000,...,0.000000,0.0,0.0,0.0,0.000000,0.000000,1.000000,1.000000,0.000000,0
3,29.000000,986.000000,3.000000,2.000000,93.000000,2.000000,3.000000,3.000000,11935.000000,21526.000000,...,0.000000,0.0,0.0,1.0,0.000000,0.000000,0.000000,1.000000,0.000000,0
4,50.000000,854.000000,1.000000,4.000000,68.000000,3.000000,5.000000,4.000000,19517.000000,24118.000000,...,0.000000,1.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,26.008398,138.470606,16.173665,3.834733,57.445411,3.165267,1.000000,2.834733,2447.215954,25638.195863,...,0.000000,0.0,0.0,0.0,0.834733,0.000000,0.165267,0.165267,0.834733,1
470,39.000000,1153.087248,2.984364,3.953091,41.203273,2.984364,1.984364,2.968727,5213.106840,17768.665065,...,0.015636,0.0,0.0,0.0,0.000000,0.984364,0.000000,0.000000,1.000000,1
471,35.612788,359.576599,20.882993,3.423401,91.306394,3.423401,1.000000,1.000000,3502.615396,21874.978424,...,0.000000,0.0,0.0,0.0,0.576599,0.000000,0.000000,1.000000,0.000000,1
472,24.318104,531.314693,11.159052,3.394882,81.974408,2.210237,1.000000,2.210237,2063.137252,13912.972892,...,0.605118,0.0,0.0,0.0,0.394882,0.000000,0.000000,0.605118,0.394882,1
473,21.228370,504.085608,9.456740,2.293488,70.293488,2.706512,1.000000,3.413024,1855.737947,18384.781419,...,0.000000,0.0,0.0,0.0,0.293488,0.000000,0.706512,0.293488,0.706512,1

In [8]:
df_employee.isnull().sum()

Age                                  0
DailyRate                            0
DistanceFromHome                     0
EnvironmentSatisfaction              0
HourlyRate                           0
JobInvolvement                       0
JobLevel                             0
JobSatisfaction                      0
MonthlyIncome                        0
MonthlyRate                          0
PercentSalaryHike                    0
PerformanceRating                    0
RelationshipSatisfaction             0
StockOptionLevel                     0
WorkLifeBalance                      0
YearsAtCompany                       0
YearsInCurrentRole                   0
YearsSinceLastPromotion              0
BusinessTravel_Non-Travel            0
BusinessTravel_Travel_Frequently     0
BusinessTravel_Travel_Rarely         0
Department_Human Resources           0
Department_Research & Development    0
Department_Sales                     0
EducationField_Human Resources       0
EducationField_Life Sciences         0
EducationField_Marketing             0
EducationField_Medical               0
EducationField_Other                 0
EducationField_Technical Degree      0
JobRole_Healthcare Representative    0
JobRole_Human Resources              0
JobRole_Laboratory Technician        0
JobRole_Manager                      0
JobRole_Manufacturing Director       0
JobRole_Research Director            0
JobRole_Research Scientist           0
JobRole_Sales Executive              0
JobRole_Sales Representative         0
OverTime_No                          0
OverTime_Yes                         0
Attrition                            0
dtype: int64